.navbar {

    /* margin:10px; */
    
    background-color:#fff;
    /* padding:0.5rem; */
    z-index: 999;
}

/* styles.css */

/* Navbar Brand */
.custom-navbar-brand {
    font-size: 24px; /* Example font size */
    color: #009970; /* Example text color */
    font-weight:500;
    transition:0.3s color;
    padding:1.2rem;

    
  }
  
  /* Navbar Links Container */
  .navbar-nav {
    margin: auto; 
    /* Center the links */
  }
   .nav-link{
    text-decoration:none;
   }
  /* Navbar Background Color */
  .bg-body-tertiary {
    background-color: #333; /* Change background color */
  }
  
  /* Offcanvas Title */
  .offcanvas-title {
    color: black; /* Title color */
    margin-bottom: 1rem; /* Add space below title */
  }
  
  .nav-link {
    text-decoration: none !important; /* Remove underline */
}

  .custom-nav-link {
    font-size: 18px; /* Set font size */
    font-weight:400;
    color:black;
    position:relative;
    margin-right:10px;
  }
  
  .custom-offcanvas-body
  {
    justify-content:center;
  }
  .login-button {
    color: #fff; /* Example text color */
    background-color: #009970; /* Example background color */
    padding:8px 20px; /* Example padding */
    border-radius:50px;
    text-decoration:none;
    transition: 0.3s background-color;
    font-size:14px;
    margin-right:10px;
    cursor:pointer;
  }
  
  .login-button:hover{
    color:white;
    background-color:#00b383;
  } 
  .custom-nav-link::before{
    content:"";
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    width:0;
    height:2px;
    background-color:#009970;
    visibility:hidden;
    transition:0.3s ease-in-out;
  }
  .custom-nav-link:hover::before, .custom-nav-link.active::before{
    width:100%;
    visibility:visible;
  }

  